.chat-page {
  min-height: 100vh;
  /* Garante que a página ocupe toda a altura da tela */
  display: flex;
  flex-direction: column;
  background-color: rgb(147, 151, 145);
}

.chat-content {
  flex: 1;
  display: flex;
}

.chat-sidebar {
  background-color: #f8f9fa;
  max-height: 600px;
  /* Alterado para 600px */
  overflow-y: auto;
  margin-bottom: 0;
}

.chat-sidebar .list-group-item.active {
  background-color: #007bff;
  color: white;
}

.chat-window {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  /* Alterado para 600px */
  overflow: hidden;
  /* Garante que o conteúdo não ultrapasse os limites */
}

.chat-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  overflow-y: auto;
  /* Adiciona scrollbar para o conteúdo */
}

.chat-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input {
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #ddd;
  flex-shrink: 0;
}

.timestamp {
  font-size: 0.7rem;
  color: #9badbe;
}

textarea.form-control {
  resize: none;
  overflow: hidden;
  max-height: 150px;
  min-height: 40px;
  line-height: 1.5;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
  .chat-page {
    flex-direction: column;
  }

  .chat-sidebar {
    max-height: 300px;
    /* Reduzido para telas menores */
    margin-bottom: 10px;
  }

  .chat-window {
    max-height: 600px;
    /* Mantém o máximo de 600px */
  }

  .chat-messages {
    max-height: calc(100vh - 200px);
    /* Ajusta dinamicamente para telas menores */
  }

  .chat-input {
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
}