.chat-page {
  height: 100vh;
  background-color: rgb(147, 151, 145);
}

.chat-sidebar {
  background-color: #f8f9fa;
  height: 100%;
  overflow-y: auto;
}

.chat-sidebar .list-group-item.active {
  background-color: #007bff;
  color: white;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  background-color: #f8f9fa;
}

.chat-messages {
  flex: 1;
  background-color: #ffffff;
}

.chat-input {
  background-color: #f8f9fa;
}