.login-btn,
.logout-btn {
  margin-right: 10px;
}

.login-btn,
.logout-btn,
.my-account-btn,
.registo-btn { 
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 15px;
  transition: .4s;
  cursor: pointer;
}

.login-btn:hover,
.logout-btn:hover,
.my-account-btn:hover,
.registo-btn:hover {
  background-color: rgb(239, 1, 60);
  border-radius: 4px;
}