#footer-div {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

#footer-div i {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

#footer-div p {
  margin-top: 15px;
  color: white;
}