/* Garante que o footer fique no final da página */
/* Garante que o footer fique no final da página */
.footer {
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  /* Empurra o footer para o final */
}

/* Responsividade para o footer */
.footer h5 {
  font-size: 1.2rem;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .footer h5 {
    font-size: 1rem;
  }
}