/* Efeito de hover nos cards */
.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  /* Aumenta o tamanho do card */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* Adiciona uma sombra mais forte */
}