header-div { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 100px;
  line-height: 50px;
}

#welcome-div { 
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-block: 30px;
}

.welcome-note {
  display: flex;
  justify-content: space-around;
}

.user-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-link {
  cursor: pointer;
  color: rgb(169, 247, 236);
  transition: all 250ms;
}

.profile-link:hover {
  border-bottom: 1px solid rgb(83, 216, 198);
}