<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <!-- Appender para logs de nível INFO -->
    <File name="InfoFileAppender" fileName="/Users/vinicyusfortes/Documents/Acertar o Rumo/Programação_Avançada_em_Java/Projeto5/repositorio/backend/logs/info.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%c{1}] - %msg%n" />
    </File>

    <!-- Appender para logs de nível ERROR -->
    <File name="ErrorFileAppender" fileName="/Users/vinicyusfortes/Documents/Acertar o Rumo/Programação_Avançada_em_Java/Projeto5/repositorio/backend/logs/error.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%c{1}] - %msg%n" />
    </File>

    <!-- Appender para o Console -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=bg_red, WARN=yellow, INFO=bg_green, DEBUG=blue} - %msg%n" />
    </Console>
  </Appenders>

  <Loggers>
    <!-- Logger dedicado para infoLogger -->
    <Logger name="infoLogger" level="INFO" additivity="false">
      <AppenderRef ref="InfoFileAppender" />
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Logger dedicado para errorLogger -->
    <Logger name="errorLogger" level="ERROR" additivity="false">
      <AppenderRef ref="ErrorFileAppender" />
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Logger raiz (caso seja necessário) -->
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
