.button {
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #218838;
}

 #edit-form button {
   width: 100%;
   /* Faz os botões ocuparem toda a largura */
   padding: 12px;
   font-size: 18px;
   background-color: green;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 15px;
 }

 #edit-form button:hover {
   background-color: darkgreen;
 }